
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form-group" method="post">
    <input type="text" placeholder="Name" name ="Name" class="form-control" />

   
    <br />
    <button class="btn btn-primary">ADD</button> 


</form>
