@model  RecycleCoinProject.ViewModel.UserInfoAndProductInfoViewModel

@{
    ViewBag.Title = "UserProductExchange";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1></h1>
@Html.AntiForgeryToken()
@using (Html.BeginForm("UserProductExchange", "UserPanel", FormMethod.Post))
{

    <div class="form-group">

        <br />
        @Html.Label("Lütfen Dönüştürmek istediğiniz değeri girin")
        @Html.DropDownListFor(x => x.ProductInfo.ProductCarbon, (List<SelectListItem>)ViewBag.pi, new { @class = "form-control" })
       
       



        <br />




        <br />


        <button class="btn btn-success">Dönüştür</button>



    </div>
}
