@model  EntityLayer.Concrete.UserInfo
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CuzdanUser</title>
    @using (Html.BeginForm("CuzdanUser", " AdminUserInfo", FormMethod.Get))
    {
        @Html.Label()
    }
</head>
<body>
    <div>
    </div>
</body>
</html>
